/app/config/parameters.yml
/build/
/composer.phar
/vendor/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
app/cache
app/logs
BD/
.idea/
web/media/
web/uploads/
var/cache
var/logs
tmp
