# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     vallas
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    jasper_host:    192.168.0.23
    jasper_user:    jasperadmin
    jasper_pass:    jasperadmin

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    languages:
      es: Español
      en: English

    app_info:
      version: '0.1'
      name: 'Vallas Admin Panel'
      logo: '/bundles/app/img/logogpovallas.png'

      customization:
        css:
             primary_color: '#eb6b08'
             primary_color_hover: '#eb5208'


    query_filters_entities:
        country_filter:
            target_class: Vallas\ModelBundle\Entity\Pais
            ignore_class: [Vallas\ModelBundle\Entity\Pais, Vallas\ModelBundle\Entity\UserPais]

    esocial_utils.uploadable:
        temp_dir: /uploads/temp
        image_mappings:
            orden_trabajo_imagen:
                filters:
                   medium: { size: [800,600] }
                   thumbnail: { size: [100,100] }
            incidencia_imagen:
                filters:
                   medium: { size: [800,600] }
                   thumbnail: { size: [100,100] }
            ubicacion_imagen:
                filters:
                   medium: { size: [800,600] }
                   thumbnail: { size: [100,100] }