<div id="calendar-medio" style="max-width: 900px; margin: 0 auto;">
    {{ render(controller("AppBundle:UbicacionDisponibilidad:index", { 'month': "now"|date('m-Y'), 'medio': medio.pkMedio })) }}
</div>
<script type="text/javascript">
    function calendarMedioAction(action, params){
        switch(action){
            case 'goToMonth':
                executeAjax('{{ path('ubicacion_disponibilidad_list', { pkUbicacion: medio.ubicacion.pkUbicacion, medio: medio.pkMedio }) }}', '#calendar-medio', params);
                break;
        }
    }
    calendarMedioAction('goToMonth', { month: '{{ "now"|date('m-Y') }}' });
</script>