{% if image is not empty %}
    {{ knp_pagination_render(imgPaged) }}

    <div class="row text-center">
        <div class="col-md-6 text-left" style="float:none; margin:0 auto">
            <fieldset>
                <legend>{{ 'work_order_img.fieldset.image_data'|trans }}</legend>
                {% include 'AppBundle:screens/ubicacion_img:form_list.html.twig' with { entity: image, form: formImage } %}
            </fieldset>
        </div>
    </div>
    {{ knp_pagination_render(imgPaged) }}
    <script type="text/javascript">
        $(document).ready(function(){
            KNPPagination.ajaxify('#location-img-list-wrapper');
        });
    </script>
{% endif %}